{% extends "base.html" %}

{% block content %}
<header>
    <h1 class="title">
        eaxly's site
    </h1>
    <nav>
        <a href="{{ get_url(path="@/about.md") }}">about</a>
        <a href="{{ get_url(path="@/blog/_index.md") }}">blog</a>
        <a href="{{ get_url(path="@/contact.md") }}">contact</a>
        <a href="https://github.com/eaxly" target="_blank">github</a>
    </nav>
</header>
<p>Hey there, I'm eaxly and this my site.</p>
<p>It's very much a WIP, so <i>please stand by</i>.</p>
{% endblock content %}
